* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 336px;
    height: 262px;
    overflow: hidden;
    background-color: #1a1a2e;
    color: #eee;
    font-family: system-ui, sans-serif;
}

#overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 0.5rem;
    background-color: #1a1a2e;
    color: #eee;
}

.instrument-chooser {
    position: absolute;
    background: black;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.instrument-option {
    height: 64px;
    width: 64px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instrument-option img {
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.instrument {
    width: 50%;
    height: 64px;
    object-fit: fill;
    margin: 0 auto;
}

.playing {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    from {
        transform: rotate(6deg);
    }

    to {
        transform: translateX(-6deg);
    }
}

#app-1 {
    /*background: blue;*/
    height: 124px;
    width: 100%;
}
#app-2 {
    /*background: red;*/
    height: 124px;
    width: 100%;
}

.play-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#separator {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 6px;
    font-family: monospace;
    height: 14px;
    width: 100%;
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instrument-option.instrument-chosen {
    outline: 2px solid white;
}
.instrument-option:not(.instrument-chosen) {
    opacity: 0.7;
}

#app {
    width: 336px;
    height: 262px;
    overflow: hidden;
}

.hidden {
    display: none;
}
